<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <listener-class>com.servlets.Listen </listener-class>
    </listener>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>com.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>signup</servlet-name>
        <servlet-class>com.servlets.SignUpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/signupservlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ads</servlet-name>
        <servlet-class>com.servlets.AdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ads</servlet-name>
        <url-pattern>/adservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>com.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logoutservlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>delete2</servlet-name>
        <servlet-class>com.servlets.Deleteservlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>delete2</servlet-name>
        <url-pattern>/deleteservlet2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>results</servlet-name>
        <servlet-class>com.servlets.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>results</servlet-name>
        <url-pattern>/searchservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Athens</servlet-name>
        <servlet-class>com.servlets.AthensS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Athens</servlet-name>
        <url-pattern>/athens</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Thess</servlet-name>
        <servlet-class>com.servlets.ThessS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Thess</servlet-name>
        <url-pattern>/thess</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Volos</servlet-name>
        <servlet-class>com.servlets.VolosS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Volos</servlet-name>
        <url-pattern>/volos</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Patra</servlet-name>
        <servlet-class>com.servlets.PatraS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Patra</servlet-name>
        <url-pattern>/patra</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/404page.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/403page.jsp</location>
    </error-page>
    
    <error-page>
        <error-code>500</error-code>
        <location>/500page.jsp</location>
    </error-page>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
